.container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}

.right {
  max-width: 703px;
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 45px;
}
