.container {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.content {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
  max-width: 684px;
  width: 100%;
  cursor: pointer;
}

.pointer {
  width: 100%;
  cursor: pointer;
}
