.form {
  max-width: 500px;
  width: 100%;
  padding: 50px 71px 50px 40px;
  border-radius: 50px;
  background-color: $grey_7;
  display: flex;
  flex-direction: column;

  & h1 {
    text-align: center;
  }

  & button {
    display: block;
    max-width: fit-content;
  }

  & label {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  & input {
    width: 300px;
    flex: 0 0 auto;
  }
}

.buttonWrapper {
  display: flex;
  max-width: 300px;
  width: 100%;
  margin-left: auto;
}

.error {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  font-family: 'Ubuntu', 'WorkSans', sans-serif;
  font-size: 16px;
  line-height: 125%;
  font-weight: 500;
  color: $error;
  margin-bottom: 10px;
}
