.item {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.from,
.to,
.amount,
.date {
  font-family: 'Ubuntu', 'WorkSans', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: $black;
  letter-spacing: -0.01em;
}

.from {
  grid-area: 1 / 1 / 2 / 4;
}

.to {
  grid-area: 1 / 4 / 2 / 7;
}

.amount {
  grid-area: 1 / 7 / 2 / 10;
  color: $success;
}

.date {
  grid-area: 1 / 10 / 2 / 13;
}

.minus {
  color: $error;
}
