// Colors

$primary: #116acc;
$secondary_1: #182233;
$secondary_2: #b3cee2;
$secondary_3: #d9dde7;
$secondary_4: #fd4e5d;
$black: #000;
$grey_1: #1f2937;
$grey_2: #374151;
$grey_3: #4b5563;
$grey_4: #6b7280;
$grey_5: #9ca3af;
$grey_6: #d1d5db;
$grey_7: #f3f4f6;
$white: #fff;
$info: #a0c3ff;
$success: #76ca66;
$warning: #fbc756;
$error: #ba0000;
$button_hover: #5897db;
$button_active: #0c4a8f;

$font-family: "WorkSans";
$container-offset: 15px;
$container-width: 1340px;
$content-width: $container-width + $container-offset * 2;