.head {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  gap: 35px;

  & button {
    margin-left: auto;
  }
}

.list {
  padding: 10px 0;
  margin: 0;
  list-style: none;
}

.item {
  padding: 10px 15px;
  font-family: 'Ubuntu', 'WorkSans', sans-serif;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background-color: $info;
  }
}

.itemActive {
  position: relative;

  & svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
